@model ExchangeMetaData
@using System.Globalization;
@using Coursework2.Models.CoinMarketCapApiModels;
@{
    CultureInfo cultureInfo = new CultureInfo("en-US");
    var rank = 1;
}
<div class="container align-content-center justify-content-center">
    <div class="container align-content-center justify-content-center">
        <div class="table-responsive">
            <table id="cryptoTable" class="table custom-table">
                <!-- Заголовок таблиці -->
                <thead>
                    <tr>
                        <th class="fixed-column">Rank</th>
                        <th class="fixed-column">Name</th>
                        <th>Weekly Visitors</th>
                        <th>Spot Volume</th>
                        <th>Fiats Supported</th>

                    </tr>
                </thead>
                <!-- Тіло таблиці -->
                <tbody id="cryptoTableBody">
                    @foreach (var item in Model.Data.Values)
                    {
                        <tr data-id="@item.id" class="table-row">
                            <td class="fixed-column">@(rank++)</td>
                            <td class="fixed-column name_td_wrap">
                                <img class="currLogo" src="@item.logo" />
                                <div class="name_td">
                                    <a class="name_td_text">@item.name </a>
                                </div>
                            </td>
                            <td>@string.Format(cultureInfo,"{0:N0}",item.weekly_visits)</td>
                            @if (item.spot_volume_usd.HasValue)
                            {
                                <td>@string.Format(cultureInfo,"{0:C0}",Math.Round(item.spot_volume_usd.Value))</td>
                            }
                            else
                            {
                                <td>No Information</td>
                            }
                            <td>@string.Join(", ",item.fiats.Take(5))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
