@model CryptoCurrencyCategoryList
@using System.Globalization;
@{
    CultureInfo cultureInfo = new CultureInfo("en-US");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h3>Cryptocurrency Sectors by 24h Price Change</h3>
        <p class="text-dark">We have created an index for each cryptocurrency category. Categories are ranked by 24h price change. Click on a crypto category name to see the constituent parts of the index and their recent price performance.</p>
    </div>
    <div class="table-responsive">
        <table id="cryptoTable" class="table custom-table">
            <!-- Заголовок таблиці -->
            <thead>
                <tr>
                    <th class="fixed-column">#</th>
                    <th class="fixed-column">Name</th>
                    <th>Number of Tokens</th>
                    <th>Avg.Price Change</th>
                    <th>Market Cap</th>
                    <th>Dominance</th>
                    <th>Volume(24h)</th>


                </tr>
            </thead>
            <!-- Тіло таблиці -->
            <tbody id="cryptoTableBody">
                @foreach (var category in Model.data)
                {
                    <tr data-id="@category.id" class="table-row">
                        <td class="row-number"></td>
                        <td class="fixed-column"><a asp-action="CryptoCategoryDetails" asp-controller="Currency" asp-route-CategoryID="@category.id">@category.name</a></td>
                        <td>@category.num_tokens</td>
                        <td class="@((category.avg_price_change > 0) ? "positive" : (category.avg_price_change < 0) ? "negative" : "neutral")">
                            @if (category.avg_price_change.HasValue)
                                @category.avg_price_change.Value.ToString("N2")%
                        </td>
                            <td style=" color: blue;">
                                @string.Format(cultureInfo, "{0:C0}", category.market_cap) <br /> <p class="@((category.market_cap_change > 0) ? "positive" : (category.market_cap_change < 0) ? "negative" : "neutral")">
                                    @if (category.market_cap_change.HasValue)
                                        @category.market_cap_change.Value.ToString("N2")%
                                </p>
                            </td>
                            <th>
                                @category.dominance.ToString("N2")%
                            </th>
                            <td>
                                @string.Format(cultureInfo,"{0:C0}",@Math.Round(category.volume))<br /> <p class="@((category.volume_change > 0) ? "positive" : (category.volume_change < 0) ? "negative" : "neutral")">
                                    @if (category.volume_change.HasValue)
                                        @category.volume_change.Value.ToString("N2")%
                                </p>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        // Встановлюємо номери рядків при завантаженні сторінки
        setRowNumbers();

        // Функція для встановлення номерів рядків
        function setRowNumbers() {
            $("#cryptoTableBody .table-row").each(function (index) {
                var rowNumber = index + 1;
                $(this).find(".row-number").text(rowNumber);
            });
        }
    });
</script>
