@using Coursework2.Interfaces
@inject ICoinMarketCapFunctional _marketfunctional;
@{
    var data = await _marketfunctional.GetGlobalMetricsAsync();
   
    string FormatNumber(double number)
    {
        if (number >= 1e12)
        {
            double trillions = number / 1e12;
            return $"{trillions:F1}T+";
        }
        if (number >= 1e9)
        {
            double billions = number / 1e9;
            return $"{billions:F1}B+";
        }
        if (number >= 1e6)
        {
            double millions = number / 1e6;
            return $"{millions:F1}M+";
        }
        if (number >= 1e3)
        {
            double thousands = number / 1e3;
            return $"{thousands:F1}K+";
        }
        return $"{number:F1}+";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoinMarketCap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Coursework2.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="marquee-container">
        <div class="container-fluid crypto-button-container marquee">
            <ul class="d-flex flex-grow-1">
                <li class="d-flex globaldata">
                    <p style="white-space: nowrap;">Cryptos:</p>
                    <p class="globaldatatext">@data.Data.active_cryptocurrencies<p />
                </li>
                <li class="d-flex globaldata">
                    <p style="white-space: nowrap;">Exchanges: </p>
                    <p class="globaldatatext">@data.Data.active_exchanges</p>
                </li>
                <li class="d-flex globaldata">
                    <p style="white-space: nowrap;">Market Cap:</p>
                    <p class="globaldatatext">@FormatNumber(@data.Data.Quote.First().Value.total_market_cap)</p>
                    <p class="@((@data.Data.Quote.First().Value.total_market_cap_yesterday_percentage_change > 0) ? "positive" : (@data.Data.Quote.First().Value.total_market_cap_yesterday_percentage_change < 0) ? "negative" : "neutral")">
                        @data.Data.Quote.First().Value.total_market_cap_yesterday_percentage_change.ToString("N2")%
                    </p>
                </li>
                <li class="d-flex globaldata">
                    <p style="white-space: nowrap;">24h Volume:</p>
                    <p class="globaldatatext">@FormatNumber(@data.Data.Quote.First().Value.total_volume_24h)</p>
                    <p class="@((@data.Data.Quote.First().Value.total_volume_24h_yesterday_percentage_change > 0) ? "positive" : (@data.Data.Quote.First().Value.total_volume_24h_yesterday_percentage_change < 0) ? "negative" : "neutral")">
                        @data.Data.Quote.First().Value.total_volume_24h_yesterday_percentage_change.ToString("N2")%
                    </p>
                </li>
                <li class="d-flex globaldata">
                    <p style="white-space: nowrap;">Dominance:</p>
                    <p class="globaldatatext">BTC:@data.Data.btc_dominance.ToString("N2")%</p>
                    <p class="@((@data.Data.btc_dominance_24h_percentage_change > 0) ? "positive" : (@data.Data.btc_dominance_24h_percentage_change < 0) ? "negative" : "neutral")">
                        @data.Data.btc_dominance_24h_percentage_change.ToString("N2")%
                    </p>
                </li>
                <li class="d-flex globaldata">
                    <p class="globaldatatext">ETH:@data.Data.eth_dominance.ToString("N2")%</p>
                    <p class="@((@data.Data.eth_dominance_24h_percentage_change > 0) ? "positive" : (@data.Data.eth_dominance_24h_percentage_change < 0) ? "negative" : "neutral")">
                        @data.Data.eth_dominance_24h_percentage_change.ToString("N2")%
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoinMarketCap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown" id="currenciesDropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                Cryptocurrencies
                            </a>
                            <div class="dropdown-menu" aria-labelledby="currenciesDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Currency" asp-action="CryptoCurrencies">🥇Ranking</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Currency" asp-action="CryptoCategories">📑Categories</a>
                                <a class="dropdown-item" href="#">Category 3</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Currency" asp-action="CryptoExchanges">Exchanges</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Coursework2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <style>
        #currenciesDropdown .dropdown-menu {
            display: none;
        }

        /* Show the dropdown when hovering over "Currencies" */
        #currenciesDropdown:hover .dropdown-menu {
            display: block;
        }

        .globaldata {
            display: flex;
            margin-right: 20px; /* Встановлюємо відступ з права */
        }
        .globaldatatext {
            font-weight: bold; /* Робимо текст жирним */
            color:blue;
            margin-right: 5px;
        }
    </style>

    <script>
        // Get the "Currencies" link and its dropdown menu
        var currenciesLink = document.getElementById("currenciesDropdown");
        var currenciesDropdownMenu = currenciesLink.querySelector(".dropdown-menu");

        // Add a hover event listener to the "Currencies" link
        currenciesLink.addEventListener("mouseenter", function () {
            currenciesDropdownMenu.style.display = "block";
        });

        // Add a mouseleave event listener to hide the dropdown when the mouse leaves
        currenciesLink.addEventListener("mouseleave", function () {
            currenciesDropdownMenu.style.display = "none";
        });
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
